---
import Footer from "../components/Footer";
import Header from "../components/Header";
import ImageGallery from "../components/ImageGallery";
import ServiceGrid from "../components/ServiceGrid";
import Testimonials from "../components/Testimonials";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sunnyside Agency Landing Page">
  <Header client:load />
  <main class="text-lg">
    <h1 class="sr-only">Sunnyside Agency Landing Page</h1>
    <ServiceGrid />
    <Testimonials />
    <ImageGallery />
  </main>
  <Footer />
</Layout>
